#shadow-llama-3.2-webgpu {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#llama-3.2-webgpu {
    width: 300px;
    height: 500px;
    border: none;
    overflow: hidden;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 10000;
    display: none;
}
